@import "tailwindcss";

html,
body {
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/images/backgroundImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}

#root {
  height: 100%;
  width: 100%;
}

@theme {
  --color-purple-600: #5046e3;
  --color-purple-300: #e1e6ff;
  --color-purple-400: #6865bf;
  --color-offWhite: #f9f9fe;
  --color-gray-600: #4e555e;
  --color-black-600: #1e2c3b;
  --color-white-600: #f9fbfc;
  --color-gray-200: #e6e9ea;
  --color-gray-400: #535863;
}
